[package]
version = "0.1.0"
name = "blobstream-script"
edition = "2021"

[[bin]]
name = "run"
path = "bin/run.rs"

[[bin]]
name = "genesis"
path = "bin/genesis.rs"

[[bin]]
name = "operator"
path = "bin/operator.rs"


[dependencies]
primitives = { path = "../primitives" }
sp1-sdk = { git = "https://github.com/succinctlabs/sp1.git", rev = "v1.0.7-testnet" }
sp1-prover = { git = "https://github.com/succinctlabs/sp1.git", rev = "v1.0.7-testnet" }
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "^1.38.0", features = ["full"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
tendermint = { version = "0.35.0", default-features = false }
tendermint-light-client-verifier = { version = "0.35.0", default-features = false, features = [
    "rust-crypto",
] }
alloy = { version = "0.1.1", features = ["full"] }
bincode = "1.3.3"
itertools = "0.12.1"
serde_cbor = "0.11.2"
sha2 = "0.10.8"
dotenv = "0.15.0"
subtle-encoding = "0.5.1"
anyhow = "1.0.82"
clap = { version = "4.0", features = ["derive", "env"] }
log = "0.4.21"
async-trait = "0.1.80"
hex = "0.4.3"
futures = "0.3.30"
env_logger = "0.11.3"
[build-dependencies]
sp1-helper = { git = "https://github.com/succinctlabs/sp1.git", branch = "ratan/add-ignore-rust-version-to-build-script" }
